body{
    width:1100px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDCBAe78TbDwYmsWJ2q10yxdFDBA33o_dIJ97ru9MdHMz30Wv-_w");
    cursor: url("http://i840.photobucket.com/albums/zz321/cccrackers/Odd/RmxIWwP_zpsf270a059.gif"),auto;
}

.summary{
    display: inline;
}

.leftside{
    width:400px;
    float: left;
}

.rightside{
    margin-left: 650px;
    width="300"
    height="300";
}

li{
      list-style-image: url("http://img4.imgtn.bdimg.com/it/u=2445151193,3238195533&fm=27&gp=0.jpg");
}
h1{
        font-size: 22pt; font-family: cursive; color:black; background-color:palevioletred;text-align: center; 
}    
h2{
        font-size: 18pt; font-family: inherit; color:black; background-color:palevioletred; display: inline;
    }
table{
    text-align: center; 
}

   
hr{
    display:none;
}
div.hr2{
    height: 60px; width:1100px;
    background: url("http://www.reader8.cn/uploadfile/2017/0707/20170707104433871.gif") repeat scroll center;
    background-repeat: repeat-x;
}
.overall{
     color:black; font-size: 11pt; font-family: monospace;
}
.special{
    font-size: 10pt; font-family: cursive; font-style:italic;
}
.copyright{
    font-family:monospace; font-size: 11pt; 
}
.img{
    float: left;
    width: 300px;    
}

a {
    color: hotpink;
}
.smalltitlecolor{
    color:blue
}